#.gitignore
# Created Tue 11 Jan 2022 12:50:17 PM AKST
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore
#
.gitignore
bitbucket/
git/
github/
# github_PRIOR_20211126/
gitkraken/
gitlab/
repo/
resync/
svn/
